<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/basic}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/FindMusic.js}"></script>
</th:block>

<div layout:fragment="content">
    <div id="boardWrap">
        <div class="boardLogo">
            <img th:src="@{/image/__${board}__Logo.jpg}">
            <p>음악찾기</p>
        </div>

        <div id="searchForm">
            <div id="search">
                <form method="get" action="/search">
                    <input id="searchBar" type="text" name="query" th:value="${query}">
                    <button id="searchBT"><i id="searchIcon" class="bi bi-search"></i></button>
                </form>
            </div>
            <button id="posting" sec:authorize="isAuthenticated()"><a href="/board/posting">글쓰기</a></button>
        </div>
        <div class="listWrap">
            <ul class="bodyList">
                <li class="bodyTag1">제목</li>
                <li class="bodyTag">작성자</li>
                <li class="bodyTag2">작성일</li>
                <li class="bodyTag">히트수</li>
            </ul>
            <ul class="bodyList" th:each="item, stat :${items.getContent()}">
                <li class="bodyTag1">
                    <form method="get" action="/board/view">
                        <input type="hidden" name="id" th:value="${item.id}">
                        <button class="getBt" type="submit"><span th:text="${item.title}"></span></button>
                    </form>
                </li>
                <li class="bodyTag" th:text="${item.createdBy}">작성자</li>
                <li class="bodyTag2" th:text="${#temporals.format(item.regTime, 'yy년 M월 d일 H:mm')}">작성일</li>
                <li class="bodyTag" th:text="${item.good}">히트수</li>
            </ul>

            <div th:with="start=${(items.number/maxPage)*maxPage + 1} , end=(${(items.totalPages ==0 ? 1 : (start + (maxPage-1) < items.totalPages ? start + (maxPage-1) : items.totalPages) ) } )">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${items.number eq 0} ? 'disabled' : '' ">
                        <a th:href="@{'/board/FindMusic?page='+${items.number-1}}" class="page-link" aria-label="Prev">
                            <span aria-hidden="true">Prev</span>
                        </a>
                    </li>

                    <li th:each="page : ${#numbers.sequence(start,end)}" th:classappend="${items.number eq page-1} ? 'active' : '' " class="page-item">
                        <a th:href="@{'/board/FindMusic?page='+${page-1}}" th:text="${page}" class="page-link"></a>
                    </li>

                    <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled' : ''">
                        <a th:href="@{'/board/FindMusic?page='+${items.number+1}}" aria-label="Next" class="page-link">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>