<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/PostForm.css}">
</th:block>
<th:block layout:fragment="script">
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.querySelector('.imagePreview');
                output.innerHTML = '<img src="' + reader.result + '" width="200" /><span class="removeImageButton" onclick="removeImage()">Remove</span>'
                output.querySelector('.removeImageButton').addEventListener('click', function() {
                    removeImage();
                });
            }
            reader.readAsDataURL(event.target.files[0]);
        };

        function removeImage() {
            var output = document.querySelector('.imagePreview');
            output.innerHTML = '';
            var fileInput = document.getElementById('postImgFile');
            fileInput.value = ''; // 선택된 파일 제거
        }
    </script>
</th:block>

<div layout:fragment="content">
    <div id="postingBox">
        <form th:object="${postDto}" method="post" action="/board/posting" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="dropdownBox">
                <select th:field="*{board}" class="dropdown">
                    <option value="" class="placeholder" selected hidden>카테고리를 선택해 주세요.</option>
                    <option value="">게시판 선택</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).ROCK}">락</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).HIPHOP}">힙합</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).K_POP_G}">걸그룹</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).K_POP_B}">보이그룹</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).BALLAD}">발라드</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).METAL}">메탈</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).POP}">팝송</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).CLASSIC}">클래식</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).FINDMUSIC}">음악찾기</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).FREEBOARD}">자유게시판</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).ABOARD}">익명게시판</option>
                    <option sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:value="${T(com.example.MC.constant.BoardType).KNEWS}">국내뉴스</option>
                    <option sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:value="${T(com.example.MC.constant.BoardType).GNEWS}">해외뉴스</option>
                    <option sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:value="${T(com.example.MC.constant.BoardType).FESTIVAL}">행사정보</option>
                    <option sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:value="${T(com.example.MC.constant.BoardType).NOTICE}">공지사항</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).REPORT}">신고게시판</option>
                    <option th:value="${T(com.example.MC.constant.BoardType).QA}">질문사항</option>
                </select>
                <p th:if="${#fields.hasErrors('board')}" th:errors="*{board}" class="fieldError"></p>
            </div>
            <div class="titleBox">
                <input th:field="*{title}" placeholder="제목을 입력해 주세요." class="posting-title">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>

            </div>
            <hr>
            <div class="imgBox">
                <label for="postImgFile">
                    <div><i class="bi bi-image"></i></div>
                </label>
                <input type="file" multiple="multiple" id="postImgFile" name="postImgFile" accept="image/*" onchange="previewImage(event)">
                <div class="imagePreview"></div>
            </div>
            <div class="bodyBox">
                <textarea th:field="*{body}" placeholder="내용을 입력해 주세요." class="posting-content"></textarea>
                <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="fieldError"></p>
            </div>
            <button class="PBt">등록</button>
        </form>
    </div>
</div>