<!--글쓰기-->

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/PostForm.css}">
</th:block>
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content" class="content">
    <div>
        <form th:object="${postDto}" method="post" action="/board/posting" enctype="multipart/form-data">
            <div>
                <select th:field="*{board}" class="dropdown">
                    <option value="" class="placeholder" selected hidden>카테고리를 선택해 주세요.</option>
                    <option th:each="board : ${T(com.example.MC.constant.BoardType).values()}"
                            th:if="${board != T(com.example.MC.constant.BoardType).KNEWS
                        and board != T(com.example.MC.constant.BoardType).GNEWS
                        and board != T(com.example.MC.constant.BoardType).FESTIVAL}"
                            th:value="${board}" th:text="${board}">
                    </option>
                </select>
            </div>
            <div>
               <input th:field="*{title}" placeholder="제목을 입력해 주세요." class="posting-title">
            </div>
            <hr>
            <div>
                <textarea th:field="*{body}" placeholder="본문"></textarea>
            </div>
            <div>
                <input type="file" name="postImgFile" accept="image/*">
            </div>
            <button>등록</button>
        </form>
    </div>
</div>