<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/view.css}">
</th:block>
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content">
<!--    게시글 시작-->
    <div th:if="${not #lists.isEmpty(post)}">
        <div>
            <div th:text="${post.title}"></div>
            <div th:text="${post.body}"></div>
            <div th:text="${post.createdBy}"></div>
            <div th:text="${post.regTime}"></div>
        </div>
        <div th:if="${post.postImgDtoList.size() != 0}">
            <div th:each="postImg : ${post.postImgDtoList}">
                <img th:src="${postImg.imgUrl}" style="width: 300px; height: 300px;">
                <div th:text="${postImg.oriImgName}"></div>
                <div th:text="${postImg.imgUrl}"></div>
            </div>
        </div>
    </div>
<!--    게시글 끝-->
<!--    댓글-->
    <div th:if="${not #lists.isEmpty(commentList)}">
        <div th:each="comments : ${commentList}">
            <div th:text="${comments.writer}"></div>
            <div th:text="${comments.body}"></div>
            <div th:text="${comments.regTime}"></div>
        </div>
    </div>
    <form th:object="${commentDto}" method="post" th:action="@{'/board/' + ${postId} + '/comment'}">
        <input type="text" th:field="*{body}">
        <button>작성</button>
    </form>


</div>