<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
</th:block>
<th:block layout:fragment="script"></th:block>

<div class="myPage" layout:fragment="content">
    <div class="myPage-head">
        <div class="detail">
            <div>
                <p th:text="${user.userNick}" class="nickname"></p>
            </div>
            <div>
                <span th:text="'작성글: ' + ${postCnt}" class="content1 point"></span>
                <span th:text="'작성댓글: ' + ${commentCnt}" class="content1 point"></span>
            </div>
        </div>
    </div>

    <div class="middle-click">
        <span class="content2"><a href="/members/MyPage/post">작성글</a></span>
    </div>

    <hr>
    <div class="itemForm">
        <ul class="bodyList">
            <li class="bodyTag1">제목</li>
            <li class="bodyTag2">작성일</li>
            <li class="bodyTag"><i class="bi bi-hand-thumbs-up"></i></li>
        </ul>
        <ul  class="bodyList" th:each="item, stat :${items.getContent()}">
            <li class="bodyTag1"><a th:href="@{'/board/view/' + ${item.id}}" th:text="${item.title}"></a></li>
            <li class="bodyTag2" th:text="${#temporals.format(item.regTime, 'yy년 M월 d일 H:mm')}">작성일</li>
            <li class="bodyTag" th:text="${item.good}"></li>
        </ul>
    </div>
</div>
</html>