<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
</th:block>
<th:block layout:fragment="script"></th:block>

<div class="myPage" layout:fragment="content">
    <div class="myPage-head">
        <div class="detail">
            <div>
                <p class="nickname">닉네임</p>
            </div>
            <div>
                <span class="content1">작성글: ??</span>
                <span class="comment1">댓글수: ??</span>
            </div>
        </div>
        <div class="right-click">
            <i class="bi bi-bell"></i>
            <button>회원정보 수정</button>
        </div>
    </div>

    <div class="middle-click">
        <span class="content2">작성글</span>
        <span class="line"></span>
        <span class="comment2">댓글수</span>
    </div>

    <hr>

    <ul class="list-content">
        <li>ㅍㄹㅇㄹㅇㄹ<span>04-23</span></li>
        <hr><br>
        <li>2</li>
        <hr><br>
        <li>3</li>
        <hr><br>
        <li>4</li>
        <hr><br>
        <li>5</li>
        <hr>
    </ul>

    <a href="/members/MyUpdate">정보수정</a>
    <a href="/members/ReSign">회원탈퇴</a>
</div>
</html>
