<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
</th:block>
<th:block layout:fragment="script"></th:block>

<div class="myPage" layout:fragment="content">
    <div class="myPage-head">
        <div class="detail">
            <div>
                <p th:text="${user.userNick}" class="nickname"></p>
            </div>
            <div>
                <span th:text="'작성글: ' + ${postCnt}" class="content1 point"></span>
                <span th:text="'작성댓글: ' + ${commentCnt}" class="content1 point"></span>
            </div>
        </div>
        <div class="right-click">
            <i class="bi bi-bell"></i>
            <button class="UBt" ><a href="/members/MyUpdate">회원정보 수정</a></button>
        </div>
    </div>

    <div class="middle-click">
        <form method="get" action="/members/MyPage">
            <input type="hidden" name="tag" value="post">
            <button class="getBt" type="submit"><span class="content2">작성글</span></button>
        </form>
        <span class="line"></span>
        <form method="get" action="/members/MyPage">
            <input type="hidden" name="tag" value="comment">
            <button class="getBt" type="submit"><span class="comment2">댓글수</span></button>
        </form>
        <span class="line"></span>
        <form method="get" action="/members/MyPage">
            <input type="hidden" name="tag" value="follow">
            <button class="getBt" type="submit"><span class="follow2">팔로우</span></button>
        </form>
    </div>

    <hr>

    <div class="itemForm" th:if="${items}">
        <ul class="bodyList">
            <li class="bodyTag1">제목</li>
            <li class="bodyTag2">작성일</li>
            <li class="bodyTag"><i class="bi bi-hand-thumbs-up"></i></li>
        </ul>
        <ul  class="bodyList" th:each="item, stat :${items.getContent()}">
            <li class="bodyTag1"><a th:href="@{'/board/view/' + ${item.id}}" th:text="${item.title}"></a></li>
            <li class="bodyTag2" th:text="${#temporals.format(item.regTime, 'yy년 M월 d일 H:mm')}">작성일</li>
            <li class="bodyTag" th:text="${item.good}"></li>
        </ul>
    </div>
    <div class="itemForm" th:if="${item}">
        <ul class="bodyList">
            <li class="bodyTag1">본문</li>
            <li class="bodyTag2">작성일</li>
            <li class="bodyTag"><i class="bi bi-hand-thumbs-up"></i></li>
        </ul>
        <ul class="bodyList" th:each="item, stat :${item.getContent()}">
            <li class="bodyTag1" th:text="${item.body}"></li>
            <li class="bodyTag2" th:text="${#temporals.format(item.regTime, 'yy년 M월 d일 H:mm')}">작성일</li>
            <li class="bodyTag" th:text="${item.good}"></li>
        </ul>
    </div>
    <div class="itemForm" th:if="${follow}">
        <ul class="bodyList-f">
            <li class="bodyTag1">팔로우 목록</li>
        </ul>
        <ul class="bodyList-f" th:each="follow, stat :${follow.getContent()}">
            <form method="get" action="/members/FPage">
                <input type="hidden" name="followerId" th:value="${follow.followerId}">
                <button class="getBt" type="submit"><span th:text="${follow.followerNick}"></span></button>
            </form>
        </ul>
    </div>
</div>
</html>
