<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header" id="header">
        <div class="hMenu">
            <ul class="menu">
                <li class="genre"><a href="/board/Genre/ROCK">장르별</a></li>
                <li class="finMusic"><a href="/board/FindMusic">음악찾기</a></li>
                <li class="board"><a href="/board/FreeBoard/FREEBOARD">자유·익명게시판</a></li>
                <li class="news"><a href="/board/News/KNEWS">음악뉴스</a></li>
            </ul>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <ul class="submenu">
                    <li><a href="/members/signUp">회원가입</a></li>
                    <li><a href="/members/login">로그인</a></li>
                </ul>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <ul class="submenu">
                    <li><a href="/members/MyPage/post">내정보</a></li>
                    <li><a href="/members/logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</html>

