* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#viewBox {
    width:1024px;
    margin:0 auto;
    margin-bottom:50px;
}

.title{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin: 5px 0 0 20px;
}

.sub {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #c0c0c0;
    margin: 10px 0 0 20px;
    display:flex;
    flex-direction:row;
    gap:10px;
}

.title-icon {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
}


hr {
    width: 1024px;
    color: #dfdfdf;
    margin-top: 15px;
}

.image-box {
    min-width: 390px;
    max-width:500px;

    border: 2px solid midnightblue;
    text-align: center;
    margin: 30px 15px;
}
.post-img{
    width:100%;
}
.content {
    margin: 30px 15px;
    min-height:300px;
}

.hit-floop {
    margin: 0 auto;
    font-size: 40px;
    display:flex;
    justify-content:center;
}

.bi-hand-thumbs-down {
    margin-left: 10px;
}

.bi-hand-thumbs-down span {
    margin-left: 5px;
}

.hit-floop i span {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}

.click-comment-icon {
    font-size: 45px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin:0 auto;
}
.click-comment-icon:hover{
    cursor:pointer;
}

.comment {
    margin:0 auto;
    width: 1024px;
    height: 230px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 25px;
}

textarea {
    width: 985px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    background: transparent;
    /* border: 0; */
    outline: none;
    resize: none;
}

button {
    width: 70px;
    height: 40px;
    margin-top: 3px;
    margin-left: 935px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 0;
}

.comment-form{
    width:1024px;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    gap:5px;
}
.comment-check{
    display:flex;
    flex-direction:column;
    width:100%;
}
.reply-check{
    width:100px;
    font-size:50px;
}
.comment-head{
    width:95%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.comment-head-left{
    font-size:40px;
}
.comment-head-right{
    display:flex;
    justify-content:center;
    flex-direction:align;
}
.comment-head-sub{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-bottom:20px;
}
.click-reply-icon{
    font-size:30px;
}
.click-reply-icon:hover{
    cursor:pointer;
}
.title-c-icon {
    font-size: 25px;
}